.bundle
.gem
.m2
.netbeans-derby
.oracle_jre_usage
.ssh
.subversion
.vim
.viminfo
.wget-hsts
.DS_Store
.Trash
.cbq_history
.bash_history
.bash_sessions
.config
.cups
.docker
.dropbox
.gitconfig
.lesshst
.CFUserTextEncoding
Applications
Documents
Dropbox
MotherPhoto
Music
Public
sunseries
Desktop
DOwnloads
Library
Movies
Pictures
