.DS_Store
.Trash
.cbq_history
.bash_history
.bash_session
.config
.cups
.docker
.dropbox
.gitconfig
.lesshst
.CFUserTextEncoding
Applications
Documents
Dropbox
MotherPhoto
Music
Public
sunseries
Desktop
DOwnloads
Library
Movies
Pictures
